<% content_for :additional_stylesheets do %>
  <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.12/css/all.css',
                          integrity: 'sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9',
                          crossorigin: 'anonymous' %>
<% end %>

    <div class="container login">
      <div class="title">
        <h1>Calibre Data Grinder</h1>
        <%= image_tag('logo.png', alt: 'Calibre Data Grinder Logo') %>
      </div>
      <%= link_to "/auth/google_oauth2", id: "sign_in", class: "button" do %>
        <i class="fab fa-google-plus-g"></i>
        Sign in with Google
      <% end %>
    </div>
